dt:not(:first-child) {
	margin-top: 30px;
}

.tabs dd {
	position: absolute;
}
.tabs dt {
	display: inline-block;
}
.tooltip {
	cursor: pointer;
	padding: 5px 0;
}

#tooltip {
	background: red;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
	position: absolute;
}
#otrotooltip {
	background: blue;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
	position: absolute;
}